<div class="dialog-body">
  <form [formGroup]="loginForm">
    <input formControlName="username" spellcheck="false" title="">
    <input formControlName="password" spellcheck="false" type="password" title="">
  </form>
  <!-- Buttons -->
  <div class="panel">
    <sg-button class="btn-error" (click)="close()">CANCEL</sg-button>
    <div class="separator"></div>
    <sg-button class="btn-ok" (click)="submit()">OK</sg-button>
  </div>
  <div class="error-message" *ngIf="loginErrMsg">{{ loginErrMsg }}</div>
</div>