<form [formGroup]="blogPostForm" novalidate>

  <!-- Fields -->
  <input autocomplete="off" formControlName="title" spellcheck="false" autofocus title="">
  <textarea autocomplete="off" formControlName="body" rows="10" spellcheck="false" title=""></textarea>

  <!-- Buttons -->
  <div class="panel">
    <sg-button class="btn-error" *ngIf="id !== 0" (click)="delete()">Delete</sg-button>
    <div class="separator"></div>
    <sg-button class="btn-ok" *ngIf="id !== 0" (click)="update()">Update</sg-button>
    <sg-button class="btn-ok" *ngIf="id === 0" (click)="create()">Save</sg-button>
  </div>

</form>
