@import 'colors';

form {
  display: flex;
  flex-direction: column
}

.panel {
  display: flex;
  margin-top: 10px;
}

.btn-ok {
  background-color: $ok;
}

.btn-error {
  background-color: $error;
}
