<div class="container">
  <div class="group">
    <div class="item">ryrtyrtyy</div>
  </div>
  <div class="group">
    <div class="item">ryt</div>
    <div class="item">eyeeyrtyrtu</div>
    <div class="item">yeyeye</div>
    <div class="item">teteryery</div>
    <div class="item">er</div>
    <div class="item">t</div>
  </div>
  <div class="group">
    <div class="item">Bobo</div>
    <div class="item">sdfsfsfsdfs</div>
  </div>
  <div class="group">
    <div class="item">wte</div>
    <div class="item">wetwetwete</div>
    <div class="item">d</div>
    <div class="item">ffwef</div>
    <div class="item">wfwefwefwegwg</div>
    <div class="item">geg</div>
    <div class="item">ergheheh</div>
    <div class="item">errg</div>
    <div class="item">egegegerteeeyereyy</div>
    <div class="item">eyeyery</div>
  </div>
  <div class="group">
    <div class="item">rtyrtyrtyrturu</div>
    <div class="item">urturtu</div>
    <div class="item">rtyrt</div>
  </div>
  <div class="group">
    <div class="item">urtrtyrtyrt</div>
  </div>
  <div class="group">
    <div class="item">rtyr</div>
    <div class="item">rturturty</div>
    <div class="item">urtu</div>
    <div class="item">rtyrtyrtu</div>
    <div class="item">ry</div>
    <div class="item">ryrturur</div>
  </div>
  <div class="group">
    <div class="item">etertr</div>
    <div class="item">urttryrtytryrtu</div>
    <div class="item">ty</div>
    <div class="item">ryrturtu</div>
    <div class="item">r</div>
  </div>
  <div class="group">
    <div class="item">yrurutyuttyi</div>
    <div class="item">tyuty</div>
    <div class="item">tyutyutyi</div>
    <div class="item">tyuty</div>
    <div class="item">tyutyu</div>
    <div class="item">tyu</div>
    <div class="item">tyutyururutu</div>
    <div class="item">rt</div>
    <div class="item">yrturu</div>
    <div class="item">ryytr</div>
    <div class="item">u</div>
  </div>
  <div class="group">
    <div class="item">erwer</div>
    <div class="item">werweyewyeryeut</div>
  </div>
  <div class="group">
    <div class="item">tuyrtuyt</div>
    <div class="item">tyutyutyietit</div>
    <div class="item">uye</div>
    <div class="item">tutiriy</div>
    <div class="item">rtuytuyt</div>
    <div class="item">ii</div>
  </div>
  <div class="group">
    <div class="item">uiuryruyky</div>
  </div>
  <div class="group">
    <div class="item">yukyukruk</div>
    <div class="item">krukyk</div>
    <div class="item">ukrkrykryukykrykrk</div>
    <div class="item">rukr</div>
    <div class="item">rkk</div>
    <div class="item">ruk</div>
    <div class="item">ukrkururtyueyj</div>
    <div class="item">yj</div>
    <div class="item">j</div>
    <div class="item">y</div>
    <div class="item">tyueueu</div>
    <div class="item">ertyetyertueuityi</div>
    <div class="item">teyiiyuiytityuityuiyui</div>
    <div class="item">u</div>
    <div class="item">iuiuiyuityuity</div>
    <div class="item">tyiuyi</div>
  </div>
</div>