@import "colors";

.blog-post {
  padding-bottom: 20px;
}

.toggle-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.sg-card {
  display: flex;
  flex-direction: column;
  border: 2px solid $border-default;
  border-radius: 5px;

  &.new {
    border: 2px solid $border-new;
    background-color: $background-new;
    cursor: pointer;
  }

  .sg-card-header {
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;

    .sg-card-icon {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 35px;
    }

    .sg-card-title {
      padding: 5px;
      display: flex;
      flex-direction: column;

      .main-title {
        font-size: 18px;
        font-weight: 500;
      }

      .sub-title {
        font-size: 12px;
      }
    }
  }

  .sg-card-body {
    white-space: pre-wrap;
    padding: 10px 20px;
    line-height: 1.5;
    background: white;
  }
}

.icon-divider {
  width: 0;
  margin-right: 10px;
  margin-left: 4px;
  height: 40px;
  border-left: 1px solid $border-default;
}

.body-divider {
  align-self: center;
  height: 0;
  width: 580px;
  border-top: 1px solid $border-default;
}
