<div class="blog-post">
  <ng-template *ngIf="!blogPost.selected; then blogPostTemplate else blogPostFormTemplate">
  </ng-template>

  <ng-template #blogPostTemplate>
    <ng-template *ngIf="blogPost.id === 0; then newBlogPost else exitedBlogPost">
    </ng-template>
  </ng-template>

  <!-- Clickable panel for creating new post -->
  <ng-template #newBlogPost>
    <div class="sg-card new" (click)="select()">
      <div class="sg-card-header">
        <div class="sg-card-icon">&#9730;</div>
        <div class="icon-divider"></div>
        <div class="sg-card-title">
          <div class="main-title">Add new post</div>
          <div class="sub-title">Click to add new post</div>
        </div>
        <div class="separator"></div>
        <div class="sg-card-panel">
          <sg-add-icon class="toggle-button"></sg-add-icon>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Existed post -->
  <ng-template #exitedBlogPost>
    <div class="sg-card">
      <div class="sg-card-header">
        <div class="sg-card-icon">&#9730;</div>
        <div class="icon-divider"></div>
        <div class="sg-card-title">
          <div class="main-title">{{ blogPost.title }}</div>
          <div class="sub-title">Created: {{ blogPost.created | date }}</div>
        </div>
        <div class="separator"></div>
        <div class="sg-card-panel">
          <sg-edit-icon class="toggle-button" (click)="select()"></sg-edit-icon>
        </div>
      </div>
      <div class="body-divider"></div>
      <div class="sg-card-body">{{ blogPost.body }}</div>
    </div>
  </ng-template>

  <!-- Post form -->
  <ng-template #blogPostFormTemplate>

    <div class="sg-card">
      <div class="sg-card-header">
        <div class="sg-card-icon">&#9730;</div>
        <div class="sg-card-title">
          <div class="main-title">{{ blogPost.id === 0 ? 'Add new post' : 'Update post' }}</div>
        </div>
        <div class="separator"></div>
        <div class="sg-card-panel">
          <sg-close-icon class="toggle-button" (click)="unselect()"></sg-close-icon>
        </div>
      </div>
      <div class="sg-card-body">
        <sg-post-form [id]="blogPost.id" [title]="blogPost.title" [body]=blogPost.body></sg-post-form>
      </div>
    </div>
  </ng-template>
</div>
