<ng-template *ngIf="!blogPost.selected; then blogPostTemplate else blogPostFormTemplate">
</ng-template>

<ng-template #blogPostTemplate>
  <ng-template *ngIf="blogPost.id === 0; then newBlogPost else exitedBlogPost">
  </ng-template>
</ng-template>

<!-- Clickable panel for creating new post -->
<ng-template #newBlogPost>
  {{ 'Add new post' }}
  <div class="toggle-button expand-button" (click)="select()"></div>
</ng-template>

<!-- Existed post -->
<ng-template #exitedBlogPost>
  {{ blogPost.title }} {{ blogPost.created | date }}
  <div class="toggle-button expand-button" (click)="select()"></div>
  {{ blogPost.body }}
</ng-template>

<!-- Post form -->
<ng-template #blogPostFormTemplate>
  {{ blogPost.id === 0 ? 'Add new post' : 'Update post' }}
  <div class="toggle-button collapse-button" (click)=unselect()></div>
  <sg-post-form [id]="blogPost.id" [title]="blogPost.title" [body]=blogPost.body></sg-post-form>
</ng-template>
