<div class="date-log">
  <div class="duration">
    <div class="duration-value">{{ dateLog.duration }}</div>
  </div>
  <div class="duration-divider-container">
    <div class="duration-divider"></div>
  </div>
  <div class="log-container">
    <div class="log">{{ dateLog.log }}</div>
    <div class="labels" *ngIf="dateLog.labels">
      <div *ngFor="let label of dateLog.labels" class="label">{{ label }}</div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="kebab-dots" #menuButton (click)="showMenu()">&#x22EE;</div>
</div>
