<form fxLayout="column" [formGroup]="blogPostForm">

  <!-- Fields -->
  <mat-form-field fxFlex appearance="fill">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput>
  </mat-form-field>
  <mat-form-field fxFlex appearance="fill">
    <mat-label>Post</mat-label>
    <textarea
      matInput
      formControlName="body"
      matTextareaAutosize
      matAutosizeMinRows=1
      matAutosizeMaxRows=10>
    </textarea>
  </mat-form-field>

  <!-- Buttons -->
  <div fxFlexAlign="end">
    <button
      mat-raised-button
      color="accent"
      type="button"
      (click)="delete()">
      Delete
    </button>
    <!-- Button to hide the post -->
    <ng-content></ng-content>
    <button
      *ngIf="id === 0"
      mat-raised-button
      color="primary"
      (click)="create()"
      [disabled]="blogPostForm.invalid">
      Create
    </button>
    <button
      *ngIf="id !== 0"
      mat-raised-button
      color="primary"
      (click)="update()"
      [disabled]="blogPostForm.invalid">
      Update
    </button>
  </div>

</form>
