<form fxLayout="column" [formGroup]="blogPostForm" novalidate>

  <!-- Fields -->
  <mat-form-field fxFlex>
    <mat-label>Title</mat-label>
    <input matInput autocomplete="off" spellcheck="false"
      formControlName="title">
  </mat-form-field>
  <mat-form-field fxFlex>
    <mat-label>Post</mat-label>
    <textarea matInput autocomplete="off" spellcheck="false"
      formControlName="body" matTextareaAutosize
      matAutosizeMinRows=1 matAutosizeMaxRows=10>
    </textarea>
  </mat-form-field>

  <!-- Buttons -->
  <div fxFlexAlign="end">
    <button
      *ngIf="id === 0"
      mat-raised-button
      color="primary"
      (click)="create()"
      [disabled]="blogPostForm.invalid">
      Save
    </button>
    <button
      *ngIf="id !== 0"
      mat-raised-button
      color="primary"
      (click)="update()"
      [disabled]="blogPostForm.invalid">
      Save
    </button>
  </div>

</form>
