$toolbar: #7e6767;
$modal: #b6b4af;
$header: #d2bfac;
$text-dark: #4d3c19;
$text-light: #f4f3ee;
$card-background: #ece6df;
$icon-background: #af8c6a;

$ok: #acd2ac;
$error: #d2acac;
$warning: #d2d2ac;
