$toolbar: #393939;
$modal: #ededde;
$text-dark: #4d3c19;
$text-light: #f4f3ee;
$border-default: #ece6df;

$border-new: #acd2ac;
$background-new: #eef6ee;

$ok: #acd2ac;
$error: #d2acac;
$warning: #d2d2ac;
