$toolbar: #786d73;
$modal: #F6F4DA;
$header: #d2bfac;
$text-dark: #4d3c19;
$text-light: #F4F3EE;
$main-background: #c2a3a7;
$card-background: #ece6df;
$icon-background: #af8c6a;

$ok: #acd2ac;
$error: #d2acac;
$warning: #d2d2ac;