// Patterns portal https://www.toptal.com/designers/subtlepatterns/
// Decode base-64 image service https://www.base64-image.de/

@import 'colors';
@import '../../node_modules/@angular/cdk/overlay-prebuilt.css';

html {
  height: 100%;
  overflow: hidden;
}

body {
  color: $text-dark;
  height: calc(100vh - 48px);
  margin-top: 48px;
  margin-left: 0;
  margin-right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input,
textarea,
select,
.div-input {
  line-height: 1.5;
  outline: none;
  padding: 10px;
  color: $text-dark;
  border: 1px solid $border-default;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input {
  min-height: 20px;
}

textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
}

.separator {
  flex: 1 1 0;
}
