<mat-toolbar flexLayout fxLayoutAlign="space-between" color="primary">
  <div fxFlexAlign="center">
    <a class="logo" mat-icon-button routerLink="/">
      <mat-icon svgIcon="lightning"></mat-icon>
      {{ title }}
    </a>
    <button mat-button routerLink="blog">Blog</button>
  </div>
  <div fxFlexAlign="center" *ngIf="!user">
      <button mat-button (click)="openLoginDialog()">
        Log In
      </button>
  </div>
  <div fxFlexAlign="center" *ngIf="user">
      <a class="user" mat-icon-button>
        <mat-icon svgIcon="user"></mat-icon>
        {{ user.first_name }} {{ user.last_name }}
      </a>
      <button mat-button (click)="logout()">
        Log Out
      </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
