@import 'colors';

.worklog-form {
  border: 2px solid $border-default;
  border-radius: 5px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;

  .input-separator {
    width: 10px;
  }

  .inputs {
    display: flex;

    .input.hours,
    .input.minutes {
      flex: 0 0 50px;
      min-height: 20px;
    }

    .input.log {
      flex: 1;
    }
  }

  input {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.panel {
  display: flex;
}

.goal-container {
  height: calc(100vh - 48px);
  overflow: auto;
}

.goal {
  width: 600px;
  margin: auto;
  padding: 20px;
}

.btn-ok {
  // TODO: move to button component
  background-color: $ok;
}
