<cdk-virtual-scroll-viewport class="goal-container" itemSize="100" (scrolledIndexChange)="loadNextPage()">
  <div class="goal">
    <div class="worklog-form">
      <form [formGroup]="workLogForm" novalidate>
        <div class="inputs">
          <select autocomplete="off" formControlName="hours" class="input hours">
            <option [ngValue]="0">0h</option>
            <option [ngValue]="1">1h</option>
            <option [ngValue]="2">2h</option>
            <option [ngValue]="3">3h</option>
          </select>
          <div class="input-separator"></div>
          <select autocomplete="off" formControlName="minutes" class="input minutes">
            <option [ngValue]="0">0m</option>
            <option [ngValue]="15">15m</option>
            <option [ngValue]="30">30m</option>
            <option [ngValue]="45">45m</option>
          </select>
          <div class="input-separator"></div>
          <input type="date" formControlName="date" class="input date">
        </div>
        <input autocomplete="off" formControlName="log" spellcheck="false" maxlength="70" class="input log">
        <sg-tag-input formControlName='labels' [options]="labelNames"></sg-tag-input>
        <div class="panel">
          <sg-button *ngIf="workLogId" class="btn-error" (click)="resetForm()">Cancel</sg-button>
          <div class="separator"></div>
          <sg-button *ngIf="!workLogId" class="btn-ok" (click)="create()">Save</sg-button>
          <sg-button *ngIf="workLogId" class="btn-ok" (click)="update()">Update</sg-button>
        </div>
      </form>
    </div>
    <sg-goal-table *ngIf="workLogs" [workLogs]="workLogs"></sg-goal-table>
  </div>
</cdk-virtual-scroll-viewport>