@import 'colors';

form {
  display: flex;
  flex-direction: column;

  input {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.panel {
  display: flex;
}

.goal-container {
  height: calc(100vh - 48px);
  overflow: auto;
}

.goal {
  height: calc(100vh - 48px);
  width: 600px;
  margin: auto;
  padding: 20px;
}

.btn-ok {
  // TODO: move to button component
  background-color: $ok;
}
