<mat-card (click)="selectBlogPost(0)" *ngIf="!editMode else blogPostFormTemplate">
  Add new post
</mat-card>

<ng-template #blogPostFormTemplate>
  <mat-card>
    <form fxLayout="column" [formGroup]="blogPostForm">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Post</mat-label>
        <textarea
          matInput
          formControlName="body"
          matTextareaAutosize
          matAutosizeMinRows=3
          matAutosizeMaxRows=10>
        </textarea>
      </mat-form-field>
      <div fxFlexAlign="end">
        <button mat-raised-button type="button" color="warn" (click)="selectBlogPost(null)">
          Hide
        </button>
        <button mat-raised-button type="submit" color="primary" (click)="submit()" [disabled]="blogPostForm.invalid">
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</ng-template>
