@import "colors";

.toolbar {
  box-sizing: border-box;
  position: fixed;
  height: 48px;
  left: 0;
  right: 0;
  top: 0;
  padding: 8px;
  z-index: 2;
  background-color: $gothic;
  color: $blue-green;
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .separator {
    flex: 1 1 0;
  }

  .login {
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 20px;
  }
}
