<ng-template *ngIf="!editMode; then blogPostTemplate else blogPostFormTemplate"></ng-template>

<ng-template #blogPostTemplate>
  <ng-template *ngIf="blogPost.id === 0; then newBlogPost else exitedBlogPost"></ng-template>
</ng-template>

<ng-template #newBlogPost>
  <mat-card (click)="selectBlogPost(blogPost.id)">
    Add new post
  </mat-card>
</ng-template>

<ng-template #exitedBlogPost>
  <mat-card (click)="selectBlogPost(blogPost.id)">
    <mat-card-header>
      <div [ngStyle]="{'background-color': '#BCBCBC'}" mat-card-avatar></div>
      <mat-card-title>{{ blogPost.title }}</mat-card-title>
      <mat-card-subtitle>{{ blogPost.created | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ blogPost.body }}
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #blogPostFormTemplate>
  <mat-card>
    <form fxLayout="column" [formGroup]="blogPostForm">
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
      </mat-form-field>
      <mat-form-field fxFlex appearance="outline">
        <mat-label>Post</mat-label>
        <textarea
          matInput
          formControlName="body"
          matTextareaAutosize
          matAutosizeMinRows=3
          matAutosizeMaxRows=10>
        </textarea>
      </mat-form-field>
      <div fxFlexAlign="end">
        <button mat-raised-button type="button" (click)="deleteBlogPost()">
          Delete
        </button>
        <button mat-raised-button type="button" color="warn" (click)="selectBlogPost(null)">
          Hide
        </button>
        <button mat-raised-button type="submit" color="primary" (click)="submit()" [disabled]="blogPostForm.invalid">
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</ng-template>
