<ng-template *ngIf="!editMode; then blogPostTemplate else blogPostFormTemplate">
</ng-template>

<ng-template #blogPostTemplate>
  <ng-template *ngIf="blogPost.id === 0; then newBlogPost else exitedBlogPost">
  </ng-template>
</ng-template>

<!-- Clickable panel for creating new post -->
<ng-template #newBlogPost>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="single no-avatar">
        Add new post
      </mat-card-title>
      <mat-icon class="toggle-button expand-button" svgIcon="lightning"
        (click)="select()">
      </mat-icon>
    </mat-card-header>
  </mat-card>
</ng-template>

<!-- Existed post -->
<ng-template #exitedBlogPost>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{ blogPost.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ blogPost.created | date }}
      </mat-card-subtitle>
      <mat-icon class="toggle-button expand-button" svgIcon="lightning"
        (click)="select()">
      </mat-icon>
    </mat-card-header>
    <mat-card-content>
      {{ blogPost.body }}
    </mat-card-content>
  </mat-card>
</ng-template>

<!-- Post form -->
<ng-template #blogPostFormTemplate>
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="blogPost.id === 0" class="no-avatar">
        Add new post
      </mat-card-title>
      <mat-card-title *ngIf="blogPost.id !== 0" class="no-avatar">
        Update post
      </mat-card-title>
      <mat-icon class="toggle-button collapse-button" svgIcon="lightning"
        (click)=unselect()>
      </mat-icon>
    </mat-card-header>
    <sg-post-form [id]="blogPost.id" [title]="blogPost.title"
      [body]=blogPost.body>
    </sg-post-form>
  </mat-card>
</ng-template>
