<mat-card>
  <form [formGroup]="postForm">
    <mat-card-header>
      <div [ngStyle]="{'background-color': '#BCBCBC'}" mat-card-avatar> </div>
      <mat-card-title>
        <input formControlName="title" matInput>
      </mat-card-title>
      <mat-card-subtitle>{{ newDate | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <input formControlName="body" matInput>
    </mat-card-content>
  </form>
</mat-card>

<mat-card *ngFor="let post of posts">
  <mat-card-header>
    <div [ngStyle]="{'background-color': '#BCBCBC'}" mat-card-avatar> </div>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.created | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ post.body }}
  </mat-card-content>
</mat-card>
