<div fxLayout="column" fxLayoutGap="10px" *ngIf="blogPageContent$ | async as blogPageContent">

  <sg-post class="sg-post"
    fxFlexAlign="center"
    [editMode]="selectedBlogPost === 0"
    [blogPost]="emptyBlogPost"
    (selectedBlogPost)="selectBlogPost($event)">
  </sg-post>

  <sg-post class="sg-post"
    fxFlexAlign="center"
    *ngFor="let blogPost of blogPageContent; trackBy: trackByPostId"
    [editMode]="selectedBlogPost === blogPost.id"
    [blogPost]="blogPost"
    (selectedBlogPost)="selectBlogPost($event)">
  </sg-post>

</div>
