@import "colors";

.menu {
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  cursor: pointer;
  padding: 4px;

  .menu-icon {
    text-indent: 45px;
    font-size: 14px;
  }

  .menu-text {
    text-indent: 5px;
    font-size: 20px;
  }

  &:hover {
    font-weight: bold;
  }
}
