@import '~@angular/material/theming';

@include mat-core();

$primary: (
  50 : #e2f0fc,
  100 : #b8d9f8,
  200 : #88c0f3,
  300 : #58a7ee,
  400 : #3594eb,
  500 : #1181e7,
  600 : #0f79e4,
  700 : #0c6ee0,
  800 : #0a64dd,
  900 : #0551d7,
  A100 : #ffffff,
  A200 : #ccdcff,
  A400 : #99b8ff,
  A700 : #80a7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


$app-primary: mat-palette($primary);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-deep-orange);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
